InteligenciaArtificial/Library
InteligenciaArtificial/obj
InteligenciaArtificial/Logs
InteligenciaArtificial/Temp
InteligenciaArtificial/UserSettings
InteligenciaArtificial/.vs
InteligenciaArtificial/.vsconfig
