InteligenciaArtificial_Practica1/.vs
InteligenciaArtificial_Practica1/.vscode
InteligenciaArtificial_Practica1/Library
InteligenciaArtificial_Practica1/Logs
InteligenciaArtificial_Practica1/obj
InteligenciaArtificial_Practica1/Temp
InteligenciaArtificial_Practica1/UserSettings
InteligenciaArtificial_Practica1/.vsconfig

InteligenciaArtificial_Practica2/.vs
InteligenciaArtificial_Practica2/.vscode
InteligenciaArtificial_Practica2/Library
InteligenciaArtificial_Practica2/Logs
InteligenciaArtificial_Practica2/obj
InteligenciaArtificial_Practica2/Temp
InteligenciaArtificial_Practica2/UserSettings
InteligenciaArtificial_Practica2/.vsconfig
